{% extends 'books/main.html' %}

{% block Content %}
<main class="container">
    <div class="row row-cols-1 row-cols-lg-2 mt-5">
        <div class="col">
            <img src="{{object.image}}" class="w-100" alt="{{object.title}}">
        </div>
        <div class="col">
            <h1>{{object.title}}</h1>
            <div class="mt-4">
                <div class="d-flex gap-4 align-items-center w-100">
                    {% if not object.checked_out_by %}
                        {% if user_is_authenticated %}
                            <form action="{% url 'update_book_status' pk=object.pk status=1 %}" class="col-2" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Checkout</button>
                            </form>
                        {% endif %}
                        <p class="mb-0 text-success col-2">Available</p>
                    {% else %}
                        {% if object.checked_out_by.is_active %}
                            <form action="{% url 'update_book_status' pk=object.pk  status=0 %}" class="col-2" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Return</button>
                            </form>
                        {% else %}
                            <p class="mb-0 text-info col-2">Checked out by {{object.checked_out_by.username}}</p>
                        {% endif %}
                        
                        <p class="mb-0 text-danger col-2">Unavailable</p>
                    {% endif %}
                    {% if user_is_authenticated %}
                        <form action="{% url 'delete_book' pk=object.pk %}" class="col d-flex" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger ms-auto">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <p class="mt-3">{{object.description}}</p>
        </div>
    </div>
</main>
{% endblock Content %}