{% extends 'books/main.html' %}

{% block Content %}
<main class="col-8 col-md-6 col-lg-4 m-auto">
  <form method="post" action="{% url 'create_book' %}">
    {% csrf_token %}
    <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Create a Book</h1>
    {{form.as_p}}    
    <button class="btn btn-primary w-100 py-2" type="submit">Create</button>
  </form>
</main>
<script>
    const urlParams = new URLSearchParams(window.location.search)
    if(urlParams.has('success')){
        const success = urlParams.get('success')
        if (success) alert('Book Created Sucessfully')
    }
</script>
{% endblock Content %}