{% extends 'books/main.html' %}

{% block Content %}
<main class="form-signin col-8 col-md-6 col-lg-3  m-auto">
  <form method="post" action="{% url 'sign_up' %}">
    {% csrf_token %}
    <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    {{form.as_p}}
    <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
  </form>
</main>
{% endblock Content %}